{% extends "base.html" %}


{% block title %} {{title}} {% endblock title %}


{% block content %}

    <div style="color:#3d85c6; font-style: bold; font-size: 2rem; border-bottom: 1px solid white;">{{title}}</div>
    
    <br>
    
    <form method="post" enctype="multipart/form-data">
    
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.name.errors }}
        {{ form.itemname.errors }}
        {{ form.quantity.errors }}
        {{ form.expdate.errors }}
        {{ form.desc.errors }}
        {{ form.photo.errors }}
        {{ form.username.errors }}
        <div class="form-group">    
            <label style="font-size: 22px" for="{{ form.name.id_for_label }}">Stock Name:</label>
            {{ form.name }}
        </div>
        <div class="form-group ">
            <label style="font-size: 22px" for="{{ form.itemname.id_for_label }}">Item Name:</label>
            {{ form.itemname }}
        </div>
        <div class="form-group ">
            <label style="font-size: 22px" for="{{ form.quantity.id_for_label }}">Quantity:</label>
            {{ form.quantity }}
        </div>
        <div class="form-group ">
            <label style="font-size: 22px" for="{{ form.expdate.id_for_label }}">Expiration Date:</label>
            {{ form.expdate }}
        </div>
        <div class="form-group ">
            <label style="font-size: 22px" for="{{ form.desc.id_for_label }}">Description:</label>
            {{ form.desc }}
        </div>
        <div class="form-group ">
            <label style="font-size: 22px" for="{{ form.desc.id_for_label }}">Photo:</label>
            {{ form.photo }}
        </div>
        <div class="form-group ">
            <input type="text", id="username", name="username", value={{user.username}} readonly style="opacity: 0">
        </div>

        <br>

        <div class="align-middle">
            <button type="submit" class="btn ghost-pink">{{ savebtn }}</button>
            {% if title == "New Stock" %}
                <button type="reset" class="btn ghost-blue" >Reset</button>
            {% endif %}
            {% if delbtn %}
                <a href="{% url 'delete-stock' object.pk %}" class="btn ghost-red"> Delete Stock </a>
            {% endif %}
            <a href="{% url 'inventory' %}" class="btn ghost-button">Cancel</a>
        </div>
        
    </form>

{% endblock content %}