{% load static %}

{% load changeStatement from custom_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">

    <!-- Main CSS, then Sidebar CSS and Dialog Box CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/dialogbox.css' %}">    

    <title>FOODIM - {% block title %}Title Missing{% endblock title %}</title>

</head>

<body>

    <!-- Dialog Box CSS  -->
    <div id="dialogoverlay"></div>
    <div id="dialogbox">
        <div class="align-middle">
            <div id="dialogboxhead"></div>
            <div id="dialogboxbody"></div>
            <div id="dialogboxfoot"></div>
        </div>
    </div>

    <main id="wrapper">

    {% if user.is_authenticated %}
    
        <nav id="sidebar" class="bg-info">
            
            <div class="sidebar-header">
                <a class="navbar-brand titlefont mr-4" href="{% url 'home' %}"><h3>FOODIM</h3></a>
            </div>

            <div class="sidebar-header" class="bg-light">

                {% with statement=1 %}
                   {% for item in timeleft_user %}
                       {% if item == request.user.username and statement %}

                           {% changeStatement statement as statement %} <!-- when u don't want to enter in if again. -->

                           <!-- Line -->
                           <a class="navbar-brand titlefont mr-4"><h6>Notice</h6></a>
                           <br><div style="color:#3d85c6; font-style: bold; font-size: 2rem; border-bottom: 1px solid white;"></div>
                           <small><span style="color: aquamarine">Expiration date is approaching!: </span></small>
                            <!-- Line End -->

                            {% for mystock in timeleft %}
                                <div class="row">
                                    <div class="col-md-9">
                                        <small> {{mystock}} </small><br>
                                    </div>
                                </div>
                            {% endfor %}
                            <small><span style="color: palegoldenrod">Write article <a href="{% url 'new-sale' %}">Here!</a></span></small>
                       {% endif %}
                   {% endfor %}
                {% endwith %}

                <p></p>

                {% for item in purchases %}
                    {% if forloop.first %}
                        <div class="row">
                            <div class="col-md-9">
                                 <small> Article is uploaded <a href="{% url 'purchase-article' item.articleno %}">View</a>
                                (Buy {{ item.item.name }}! ) </small>
                                <br>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}

                {% for item in sales %}
                    {% if forloop.first %}
                        <div class="row">
                            <div class="col-md-9">
                                 <small> Article is uploaded <a href="{% url 'sale-article' item.articleno %}">View</a>
                                (Sell {{ item.title }} !) </small>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                

            </div>


            <ul class="list-unstyled sidebar-components">
                {# <p class="sidebar-paragraph">Dummy Heading</p> #}
                <li>
                    <a class="sidebar-text sidebar-button" href="{% url 'home' %}" style="color:white">Home</a>
                </li>               
                <li>
                    <a href="#inventorySubmenu" data-toggle="collapse" class="dropdown-toggle sidebar-text right-arrow sidebar-button" style="color:white">Manage Inventory</a>
                    <ul class="collapse list-unstyled" id="inventorySubmenu">
                        <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'inventory' %}" style="color:#edf3ff">Inventory List</a> </li>
                        <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'new-stock' %}" style="color:#edf3ff">Add New Stock</a> </li>
                        <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'items-list' %}" style="color:#edf3ff">Item List</a> </li>
                        <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'new-item' %}" style="color:#edf3ff">Add New Item</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#nutritionSubmenu" data-toggle="collapse" class="dropdown-toggle sidebar-text right-arrow sidebar-button" style="color:white">Show Nutrition</a>
                    <ul class="collapse list-unstyled" id="nutritionSubmenu">
                        <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'nutrition' %}" style="color:#edf3ff">Show Nutrition</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#purchaseSubmenu" data-toggle="collapse" class="dropdown-toggle sidebar-text right-arrow sidebar-button" style="color:white">Community</a>
                    <ul class="collapse list-unstyled" id="purchaseSubmenu">
                        <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'purchases-list' %}" style="color:#edf3ff">Purchases List</a> </li>
                        <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'select-item' %}" style="color:#edf3ff">New Purchase item</a> </li>
                        <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'sales-list' %}" style="color:#edf3ff">Sales List</a> </li>
                        <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'new-sale' %}" style="color:#edf3ff">New Sale item</a> </li>
                        <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'board' %}" style="color:#edf3ff">Free Board</a> </li>
                    </ul>
                </li>
                <li>
                    <a class="sidebar-text sidebar-button" href="{% url 'help' %}" style="color:white">Help</a>
                </li>

                <li class="bottomleft">
                    <a href="#UserSubmenu" data-toggle="collapse" class="dropdown-toggle sidebar-text right-arrow sidebar-button" style="color:#ffffff">User : {{ request.user.username }}</a>
                    <ul class="collapse list-unstyled" id="UserSubmenu">
                        {% if request.user.is_superuser %}
                            <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'admin:index' %}" style="color:#edf3ff">Admin Page</a> </li>
                        {% endif %}
                            <li><a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'logout' %}" style="color:#33f3ff">Logout</a> </li>
                            <li><a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'change_password' %}" style="color:#33f3ff">Change Membership</a></li>
                            <li><a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'withdrawal' %}" style="color:#33f3ff">Membership Withdrawal</a></li>
                    </ul>
                </li>

            </ul>
            {% comment %}
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="sidebar-button nav-button">Button</a>
                </li>
                <li>
                    <a href="#" class="sidebar-text">Link</a>
                </li>
            </ul>
            {% endcomment %}

        </nav>
    
        <div id="content" class="bg-white">

            <div class="row">
                <div class="col-md-12">
                
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}"> {{ message }} </div>
                        {% endfor %}
                    {% endif %}
                
    {% endif %} 

                    <div class="container">
                        {% block content %}{% endblock content %}
                    </div>
                    
                </div>
            </div>
            <br>

        </div>
    
    </main>    
        
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

</body>

</html>