{% extends "base.html" %}


{% block title %} About {% endblock title %}


{% block content %}
    
    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn ghost-button">Go Back</a>
    {% endif %}    

    <div class="align-left" style="color: #3d85c6; font-style: bold; font-size: 3rem;">FOODIM</div>
    <div class="align-left" style="color: #2d85c6"; font-size: 2>Food ingredients management for people living alone</div>
    <br><br>

    <div class="align-left">
        <h3 style="color:#3d85c6">Revision History</h3> <br>
            <p>
                Version 0.5 - Fixed some bugs (invalid literal, etc)
                <br><br>
            </p>
        <h3 style="color:#3d85c6">About</h3> <br>
            <p>
                FOODIM is a food ingredients management application for people who live alone. Using the application allows people living alone to more easily and efficiently manages their food ingredients. The aim is to help the consumer to reduce impulsive buying, as well as to reduce food waste.
                <br>
            </p>
        <br>
    </div>
        <h3 style="color:#3d85c6" class="align-left">Features</h3> <br>
            1) Food ingredient inventory management with its shelf life and photo<br>
            2) Community section to exchange food ingredients each other with sharing the inventory<br>
            3) Tracking user health based on the food ingredients records<br>
            </ul>
        <br><br>

        <h3 style="color:#3d85c6" class="left-middle">Feature 1</h3> <br>
            Food ingredient inventory management with its shelf life and photo<br><br><br>
            1) The user can add an item by entering item details such as item name, protein, fat, carbohydrate, vitamin, picture and description.<br>
            2) After adding at least 1 item, the user can add a stock by entering stock details such as stock name, quantity, expiration date, picture and description.<br>
            3) The user can see a stock list and item list with the picture, and can modify or delete an entry.<br>
            4) The user can see the shell life calculated as [the expiration date - current date], and the stock list is sorted by the remaining shelf life days in ascending order.<br>
            5) A warning notice is displayed to the user when an item's shelf life drops to 3 or less days.<br>
        <br>

        <h3 style="color:#3d85c6" class="left-middle">Feature 2</h3> <br>
            Community section to exchange food ingredients each other with sharing the inventory<br><br><br>
        <br>

        <h3 style="color:#3d85c6" class="left-middle">Feature 3</h3> <br>
            Tracking user health based on the food ingredients records<br><br><br>
            The user can write an article for purchase or sale.<br>
            The user can view a list of articles and inspect the details of each article for purchasing or selling ingredients. Additionally, the user can modify and delete an entry that they have created. A user can't modify or delete another user's article.<br>

        <br>


{% endblock content %}